body
{
  margin: 0;
  padding: 0;
  
  background: white;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;

  overflow-x: hidden;
  overflow-y: hidden;
}

html{
  height: 100%;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 35px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
  margin-left: 1750px;
}

nav{
    background-color: black;
    height: 90px;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
  background-color: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  
  background: #404040;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop9 flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  margin-top: 28px;
  padding-top: 50px;

  margin-left: 1580px;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  text-align: center;
  font-style: bold;
  color:white;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.logo_pic{
    margin-left: 30px;
    margin-top: -10px;
    font-size: 30px;
    font-style: bold;
    color: white;
}

span{
    margin-left: 1750px;
}

.outside{
  background-color: #101010;
  height: 1000px;
  margin: 0px;
  display: flex;
}

.edit-div{
   height: 585px;
   width: 800px;
   margin-left: 600px;
   border: 2px solid white;
   margin-top: 120px;
}

h5{
    color: white;
}

.edit-div h5{
  padding: 10px;
  border-bottom: 2px solid white;
}

h6{
    color: white;
}

.btn {
  border: none;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  width: 60px;
  height: 30px;
  margin-left: 30px;
}

.info {color: dodgerblue;}

.login_btn{
  color: black;
  background-color: #FFC312;
  width: 100px;
  height: 50px;
  margin-right: 20px;
  margin-top: 3px;
}

.login_btn:hover{
  color: black;
  background-color: white;
}

.interests{
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  margin-bottom: 5px;
}

.interests_header{
  border-bottom: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.interests_block{
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.interests_first_div{
  width: 450px;
}

.interests_second_div{
  width: 450px;
}

.languages{
  border-bottom: 1px solid white;
  margin-bottom: 5px;
}

.languages_header{
  border-bottom: 1px solid white;
}

.languages-block-header{
  border-top: 2px solid white;
}

.languages_block{
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
}

.languages_first_div{
  width: 450px;
}

.languages_second_div{
  width: 450px;
}

label{
  font-size: 1rem;
  margin-left: 5px;
  color: white;
}

input{
  width: 200px;
  height: 30px;
  margin-left: 30px;
  text-align: center;
}

.interests_block input{
  height: 18px;
  width: 18px;
}

.languages_block input{
  height: 18px;
  width: 18px;
}

.in-h5 h5{
  border-top: 2px solid white;
}

#usnamel{
  margin-top: 10px;
  width: 100px;
  margin-left: 20px;
}

#unamei{
  margin-top: 10px;
  width: 250px;
}

#passl{
  width: 100px;
  margin-left: 20px;
}

#passi{
  width: 250px;
  margin-left: 33px;
}

.edit-username{
  margin-top: 0px;
  margin-bottom: 10px;
  width: 50px;
  display: flex;
}

.edit-password{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50px;
}

#log-li{
  cursor:pointer
}